* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 40px;
}
.header {
  background-image: url("images/top-banner.png");
  background-size: cover;
}
.orange {
  color: orange;
}
.header-content {
  display: flex;
  gap: 10px;
  padding: 50px;
  align-items: center;
}
.half {
  width: 50%;
}
.half h3 {
  padding: 10px 0;
}
.half p {
  text-align: justify;
}
.half img {
  width: 100%;
}
.social {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.social a {
  color: black;
  font-size: 25px;
  transition: 0.5s;
}
.facebook:hover {
  color: #139cf8;
}
.github:hover {
  color: #161b22;
}
.linkedin:hover {
  color: #0b66c3;
}
.hire-btn {
  background: linear-gradient(90deg, #f78c6d, #fb6555);
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.hire-btn:hover {
  background: linear-gradient(90deg, #fb6555, #f78c6d);
}
