* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 40px;
}
section {
  height: 100vh;
}
.header {
  background-image: url("images/top-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.orange {
  color: orange;
}
.content {
  display: flex;
  gap: 10px;
  padding: 50px;
  align-items: center;
}
.half {
  width: 50%;
}
.half h3 {
  padding: 10px 0;
}
.half p {
  text-align: justify;
}
.half img {
  display: flex;
  justify-content: center;
  width: 80%;
}
.social {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.social a {
  color: black;
  font-size: 25px;
  transition: 0.5s;
}
.facebook:hover {
  color: #139cf8;
}
.github:hover {
  color: #161b22;
}
.linkedin:hover {
  color: #0b66c3;
}
.btn {
  background: linear-gradient(90deg, #f78c6d, #fb6555);
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.btn:hover {
  background: linear-gradient(90deg, #fb6555, #f78c6d);
}
.arrow {
  text-align: center;
}

.body {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.center {
  text-align: center;
  padding-top: 20px;
}
.card-content {
  display: flex;
  gap: 30px;
}

.card {
  box-shadow: 0 0 27px gray;
  width: 50%;
  padding: 40px 0;
}
.card h1,
b,
p {
  padding: 20px;
}
.card-left {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, #fb6555, #f78c6d);
  border-image-slice: 1;
}
.card-right {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, #35b6e9, #0058a3);
  border-image-slice: 1;
}
